body{
    margin: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;;
}

.grid1{
    background-color: #a4c7d8;
    display: grid;
    grid-template-rows: 20% 10% 10% 10% 10%;
}

.grid2{
    background-color: #fff;
    height: 100%;
    display: grid;
}

.id_photo{
    height: 200px;
    width: 150px;
    border-radius: 100px;
}

.id_photo_box{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.item{
    display: flex; 
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

h4{
    cursor: pointer;
    color: whitesmoke;
}

.item1{
    border-top: 1px solid white;
}

.introduce{
    font-size: 20px;
    line-height: 50px;
}

.skill{

}

.portfolio{
}

.contact{
}

.content{
    padding: 80px;
    border-bottom: 1px solid lightgray;
}

.greetings{
    text-align: center;
}

.skill_table tr{
    text-align: center;
}

.skill_table td{
    border : 1px solid #a4c7d8;
    border-radius: 30px;
    width: 100px;
    height: 50px;
}

img{
    height: 200px;
    width: 300px;
    border-radius: 30px;
}

.video{
    height: 200px;
    width: 300px;
    border:3px solid black;

}

.video:hover{
  filter: grayscale(0%);  
}

td{
    padding:30px;
    line-height: 35px;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:#84b5cd;
    transition: 0.2s ease-in-out;
}
